Microsoft.Flow/flows/02c9c73e-a428-4374-a4e2-b38e19436992/definition.json
{"name":"327ac5c8-1c12-4810-a352-c6f32564d892","id":"/providers/Microsoft.Flow/flows/327ac5c8-1c12-4810-a352-c6f32564d892","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FormRespond","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"8b25a2f6-f8de-49d8-aea3-bcb5dedeb1bf","type":"User","tenantId":"29e5ea20-daaa-4291-a2ae-874e63c1f292"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-20T20:27:44.9495007Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"1fda75ca-dd3a-4c1c-a4a5-06a8bcddc53f"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"IOrlKarakUKirodOY8HykvaiJYve-NhJrqO8td7esb9UREhHRU9MTklOSVpCVkI1WjhHSVgwSlpBQy4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"65f42156-ca8d-4e57-ba0b-d37b631cfd6a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"IOrlKarakUKirodOY8HykvaiJYve-NhJrqO8td7esb9UREhHRU9MTklOSVpCVkI1WjhHSVgwSlpBQy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Supervisor_Approval":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"4ef61ec3-cd07-477e-a13a-ebba3137d667"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"@{outputs('Get_response_details')?['body/rf7d1bf6708fb4fbba521b63005dc9620']} Requesting Hardware/Software","WebhookApprovalCreationInput/assignedTo":"dheamiradikna@students.unnes.ac.id;","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"metadata":{"operationMetadataId":"e03a776e-a83d-4062-940a-61d1a56b0704"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_response_details')?['body/rcafff46ba5c14b64ba945ec135de81ee']};","request/subject":"Requesting Hardware/Software Approved by Supervisor","request/text":"<p>Your requesting has been approved by @{outputs('Get_response_details')?['body/rdf0eec2abb8a4b65aea1e92d44b00e42']}. This request has been forwarded to Accounting Manager to verify your request.</p>"},"authentication":"@parameters('$authentication')"}},"Get_worksheets":{"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"8d6edb2e-8a5e-45c8-b222-7f246ac1b044"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetAllWorksheets"},"parameters":{"source":"groups/bc9564da-91ab-4b61-9a4b-dfdff9b9b01d","drive":"b!L8PI-Ap-nUy7-pHlBDZeXyr7c9aivglAm4FYPPrg_EZWsTdELssRRr_3kmEdF3Wf","file":"Waiting Accounting Manager Approval"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Supervisor_Approval":["Succeeded"]},"else":{"actions":{"Apply_to_each":{"foreach":"@outputs('Supervisor_Approval')?['body/responses']","actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"metadata":{"operationMetadataId":"612497d5-7a57-4ce4-959c-54ed16deb479"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_response_details')?['body/rcafff46ba5c14b64ba945ec135de81ee']};","request/subject":"Requesting Hardware/Software Rejected by Supervisor","request/text":"<p>Your requesting has been approved by @{outputs('Get_response_details')?['body/rdf0eec2abb8a4b65aea1e92d44b00e42']}.<br>\n<br>\nPlese see comments below:<br>\n@{items('Apply_to_each')?['comments']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"c47a7953-cf68-4ce5-83ce-6130de667400"},"type":"Foreach"}}},"expression":{"equals":["","Approve"]},"metadata":{"operationMetadataId":"d097819b-c8fc-4aba-aa2e-202eedff5a6c"},"type":"If"},"Accounting_Approval":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"f6e753b0-bea8-45c9-aeda-c4ad7e5f7193"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"@{outputs('Get_response_details')?['body/rdf0eec2abb8a4b65aea1e92d44b00e42']} has approved requesting","WebhookApprovalCreationInput/assignedTo":"dheamiradikna@students.unnes.ac.id;","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Send_an_email_notification_(V3)_3":{"runAfter":{},"metadata":{"operationMetadataId":"f314899e-ffc1-473d-b22c-edf5b407c59b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_response_details')?['body/rcafff46ba5c14b64ba945ec135de81ee']};","request/subject":"Accounting Manager Approved","request/text":"<p>Your hardware/software requesting has been approved.</p>"},"authentication":"@parameters('$authentication')"}},"Create_worksheet":{"runAfter":{"Send_an_email_notification_(V3)_3":["Succeeded"]},"metadata":{"operationMetadataId":"ce7dcc2f-834f-42f9-b2db-af564a6085f1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateWorksheet"},"parameters":{"source":"groups/bc9564da-91ab-4b61-9a4b-dfdff9b9b01d","drive":"b!L8PI-Ap-nUy7-pHlBDZeXyr7c9aivglAm4FYPPrg_EZWsTdELssRRr_3kmEdF3Wf","file":"@outputs('Accounting_Approval')?['body/responseSummary']","body/name":"Hardware and Software Request"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Accounting_Approval":["Succeeded"]},"else":{"actions":{"Send_an_email_notification_(V3)_4":{"runAfter":{},"metadata":{"operationMetadataId":"64378cd5-98fd-4d51-ab3d-bcd466ae0a03"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_response_details')?['body/rcafff46ba5c14b64ba945ec135de81ee']};","request/subject":"Accounting Manager Rejected","request/text":"<p>Your hardware/software requesting has been rejected.</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Accounting_Approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"d770d242-c976-4766-a4e4-9e9ed4ad62c9"},"type":"If"}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-5819b26d-53ba-46bb-a590-a98727c6dc1f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-ced751f7-1b0f-4ed7-90ea-bf8270eda93f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-a04d9320-125f-4b16-b3ba-5720890bfc4d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-7c6a7450-e575-4d86-815a-633548b6dae1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}